@using HajurKoRentalSystem.Areas.User.ViewModels;
@model List<VehiclesViewModel>

@{
	ViewData["Title"] = "Home Page";
}

<partial name="_Notification" />

<div class="container-fluid">
	<div class="row justify-content-center mt-5">
		<div class="col-10">
			<div class="container">
				<div class="row mt-5 mb-5">
				<div class="col-6 pb-5 pe-5">
				<h1>Search and find your best car rental
				with easy way</h1>
				<p class="mt-4 text-secondary">Drive performance and your cross-functional collaboration with easy-to-use dashboards, data visualizations, and automated insights in one click</p>

				<div class="row mt-5">
				<div class="col-12 justify-content-center">
				<button class="btn btn-primary px-3">Rent Now <i class="bi bi-telephone-forward"></i></button>

				<button class= "ms-3 rounded-0" style="outline: none; background-color: white; border: none;">See all cars <hr style="margin-top: 2px; color: black;"> </button>
				</div>
				</div>
				</div>
				<div class="col-6" style="background: url('./herobanner.jpeg'); background-repeat: no-repeat; background-size: contain;"> </div>
				</div>

				<div class="row mt-5 mb-5">
				<div class="col-12 mt-5 mb-5">
				<ul class=" text-decoration-none list-unstyled d-flex justify-content-between"style="font: 2.5em sans-serif;">
				<li><i class="bi bi-google"></i></li>
				<li><i class="bi bi-google"></i></li>
				<li><i class="bi bi-google"></i></li>
				<li><i class="bi bi-google"></i></li>
				<li><i class="bi bi-google"></i></li>
				<li><i class="bi bi-google"></i></li>
				</ul>
				</div>
				</div>
				<div class="row mt-5 mb-5">
				<div class="col-6" style="background: url('./aboutsection.jpeg'); background-repeat: no-repeat; background-size: cover;"> </div>
				<div class="col-6 ps-5 pt-5 pb-5">
				<h4 class="text-primary mb-4">About us</h4>
				<h1>More than 150+ special
				collection cars</h1>
				<p class="mt-3 text-secondary">Get the car of your dreams with the installments of your choice. There are various attractive offers from Moladin through our collaboration with various trusted leasing partners.</p>

				<div class="row mt-5">
				<div class="col-12 justify-content-center">
				<button class="btn btn-primary px-3">See all cars <i class="bi bi-arrow-right"></i></button>


				</div>
				</div>
				</div>

				</div>

				<div class="row mt-5 mb-5 ">
				<div class="col-12 mt-5"  style="background: url('./background.jpg'); background-repeat: no-repeat; background-size: contain;">
				<div class="row justify-content-center">
				<div class="col-6">
				<h4 class="text-center text-primary mt-5 pt-5">Our Services</h4>
				<h1 class="text-center text-white mt-2 px-5" >We have best service
				for the rent cars</h1>
				<p class="text-center text-light mt-2">Our car rental services offer a convenient and hassle-free way for travelers to explore their destination. </p>
				</div>
				<div class="container mt-5">
				<div class="row justify-content-center">
				<div class="col-10 d-flex justify-content-between">
				<div class="card rounded-1" style="width: 18rem;">
				<div class="mb-5"></div>
				<div class="card-body mt-5 pt-5">
				<h4 class="mt-3">Quality Choice</h4>
				<p class="card-text text-secondary">Search from a wide selection of cars curated by Renty partners with fast and easy way</p>
				</div>
				</div>
				<div class="card rounded-1" style="width: 18rem;">
				<div class="mb-5"></div>
				<div class="card-body mt-5 pt-5">
				<h4 class="mt-3">Exclusive Service</h4>
				<p class="card-text text-secondary">Renty partners are ready to help you find your dream car for your holiday in the city</p>
				</div>
				</div>
				<div class="card rounded-1" style="width: 18rem;">
				<div class="mb-5"></div>
				<div class="card-body mt-5 pt-5">
				<h4 class="mt-3" >Fast and Safe </h4>
				<p class="card-text text-secondary">Transaction process is completed within 24 hours (verified by Bank
				of Nepal)</p>
				</div>
				</div>

				</div>
				</div>

				</div>
				</div>

				</div>
				</div>

				<form method="post">
					<div class="row">
						<div class="col-12 mt-5">
							<h4 class="text-center text-primary">Collection</h4>
							<h1 class="text-center">Our Cars Collection</h1>
						</div>

						<div class="row mt-2 mb-5">
							@foreach (var item in Model)
							{
								<div class="col-md-6" style="width:22.5%; margin-bottom:55px;">
									<div class="row p-2">
										<div class="col-12 p-1 bg-white" style=" border-radius: 5px;">
											<div class="container-item d-flex justify-content-end" style="padding:20px;">
												@if (item.Offer != "No offer")
												{
													<p class="card-title h4 text-danger text-right position-absolute px-3 oy-1" style="z-index:11; background-color:rgba(255, 255, 255, 0.76) ;">@item.Offer</p>
												}
												<img id="profilePicture" class="position-relative" style="width:100% ;height:165px; object-fit:cover" src="@item.ImageURL">
											</div>
											<div class="col" style="padding: 0 20px 20px 20px;">
												<div class="row pl-2 ">
													<p class="card-title h4 text-dark">@item.Name</p>
												</div>
												<div class="row">
													<b>@item.PricePerDay</b>
												</div>
											</div>
											<div style="padding: 0 20px 20px 20px;">
												<a asp-action="Details" class="btn btn-primary form-control" asp-route-vehicleId="@item.Id">
													Details
												</a>
											</div>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
