@using HajurKoRentalSystem.Areas.Admin.ViewModel;
@model List<DamageViewModel>

@{
    ViewData["Title"] = "Damage Requests";
}

<partial name="_Notification" />



<link rel="stylesheet" href="~/css/Index.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />

<style>
    th {
        font-size: 14px;
    }

    td {
        font-size: 14px;
    }
</style>
<style>
    table th {
        background-color: #D9DCFD !important;
        border-color: #f8f9fa;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-5 col-lg-2  d-block align-content-center pe-0 collapse accordion-collapse  vh-100 " id="sidebar">
            <div class="d-flex p-0">
                <h5 class="mt-4 ps-3 pb-2"> <a class="navbar-brand text-black" asp-area="" asp-controller="Home" asp-action="Index">HajurKoRentalSystem</a> </h5>

            </div>
            <div>
                <ul class="nav nav-pills flex-column mt-2">
                   
                    <li class="nav-item ms-2 mb-3 p-1 mt-5 ">
                        <a class="nav-link " asp-area="Admin" asp-controller="Vehicle" asp-action="Index"><i class="bi bi-plus-circle-fill pe-2"></i> Cars </a>
                    </li>


                    <li class="nav-item ms-2 mb-3 p-1 ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Rental" asp-action="Requests"> <i class="fa-solid fa-calendar  pe-2"></i> Approve Rental</a>
                    </li>
                    <li class="nav-item ms-2 mb-3 p-1">
                        <a class="nav-link" asp-area="Admin" asp-controller="Rental" asp-action="AcceptedRents"><i class="bi bi-calendar-check pe-2"></i>Current Rents</a>
                    </li>
                    <li class="nav-item ms-2 mb-3 p-1">
                        <a class="nav-link" asp-area="Admin" asp-controller="Rental" asp-action="Returned"> <i class="bi bi-backspace-reverse pe-2"></i> Returned Rents</a>
                    </li>
                    <li class="nav-item ms-2 mb-3 p-1 active">
                        <a class="nav-link" asp-area="Admin" asp-controller="Damage" asp-action="Index"> <i class="fa-solid fa-calendar  pe-2"></i>Damage Details</a>
                    </li>
                    <li class="nav-item ms-2 mb-3 p-1 ">
                        <a asp-area="Admin" asp-controller="Sales" asp-action="Index" class="nav-link"> <i class="bi bi-activity  pe-2"></i> Sales</a>
                    </li>
                    <li class="nav-item ms-2 mb-3 p-1 ">
                        <a asp-area="Admin" asp-controller="Offer" asp-action="Index" class="nav-link"><i class="bi bi-percent pe-2"></i> Offers</a>
                    </li>
                    <li class="nav-item ms-2 mb-3 p-1">
                        <a asp-area="Admin" asp-controller="User" asp-action="Customer" class="nav-link"> <i class="fa-solid fa-user-tie  pe-2"></i> Customers</a>
                    </li>
                    <li class="nav-item ms-2 mb-3 p-1">
                        <a asp-area="Admin" asp-controller="User" asp-action="Staff" class="nav-link"> <i class="bi bi-person-square pe-2"></i> Staffs</a>
                    </li>
                 
                    <li class="nav-item ms-2 mb-3 p-1">
                        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <a href="#" id="logout" class="nav-link text-danger"><i class="fa-solid fa-coins  pe-2"></i>Logout</a>
                        </form>
                    </li>

                </ul>

            </div>
        </div>
        <div class="col-md-9 col-lg-10 " id="midcontent">
            <div class="container-fluid">
                <div class="row justify-content-center mt-4">

                    <div class="col-11  pl-0 pr-4 bg-white mt-5 pb-5">
                        <div class="container pb-4">
                            <div class="row justify-content-center">
                                <div class="col-12 mt-5">
                                    <div class="d-flex justify-content-between">
                                        <h3 class='pt-3 text-primary pb-1 '>Car Damage Details.</h3>


                                    </div>
                                    <hr>
                                    <div>
                                        <table id="tableData" class="table table-striped table-bordered" style="width:100%">
                                            <thead class="mt-2">
                                                <tr class="">
                                                    <th class="text-center">S.N.</th>
                                                    <th class="text-center">Customer Name</th>
                                                    <th class="text-center">Vehicle Name</th>
                                                    <th class="text-center">Requested Date</th>
                                                    <th class="text-center">Repair Cost</th>
                                                    <th class="text-center">Payment Status</th>
                                                    <th class="text-center">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="text-center">@(Model.IndexOf(item) + 1)</td>
                                                        <td>@item.CustomerName</td>
                                                        <td>@item.VehicleName</td>
                                                        <td>@item.RequestDate</td>
                                                        <td>@item.Cost</td>
                                                        <td>@item.PaymentStatus</td>
                                                        <td class="text-center">
                                                            @if (item.PaymentStatus == "Unpaid")
                                                            {
                                                                <a href="@Url.Action("Details", "Damage", new { id = item.DamageId })" class="btn btn-outline-primary mx-1"><i class="bi bi-gear"></i></a>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("Details", "Damage", new { id = item.DamageId })" class="btn btn-outline-secondary mx-1"><i class="bi bi-eye-fill"></i></a>
                                                            }
                                                            

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $("#tableData").DataTable();

        document.getElementById('logout').addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById('logoutForm').submit();
        });
    </script>
}

   

