@*@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
           
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@

@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 bg-danger vh-100">
            <!-- <video autoplay loop muted plays-inline class="" >
                <source src="./RequiredGenerousCob-mobile.mp4" type="video/mp4" >
            </video> -->
        </div>

        <div class="col-6 mt-5 mb-5 px-5">
            <div class="row px-5">
                <div class="col-10">
                    <h1 class="text-primary">Welcome to </h1>
                    <h1 class="text-primary">Hajur ko Car Rental </h1>
                    <h5 class="pt-5">Create an account.</h5>
                </div>
            </div>

            <form id="registerForm" class=" px-5 mt-2 " asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="col-10">
                    <div class="form-group mt-3">
                        <input asp-for="Input.Email" type="email" class="form-control py-2 rounded-0" autocomplete="username" aria-required="true" placeholder="Enter your email">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-10">
                    <div class="form-group mt-3">
                        <input asp-for="Input.Name" type="text" class="form-control py-2 rounded-0" autocomplete="name" aria-required="true" placeholder="Enter your name">
                        <span  class="text-danger"></span>
                    </div>
                </div>

                <div class="col-10">
                    <div class="form-group mt-3">
                        <input asp-for="Input.Address" type="text" class="form-control py-2 rounded-0" autocomplete="address" aria-required="true" placeholder="Enter your Address">
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="col-10">
                    <div class="form-group mt-3">
                        <input asp-for="Input.Email" type="number" class="form-control py-2 rounded-0" autocomplete="username" aria-required="true" placeholder="Enter your Email Address">
                        <span  class="text-danger"></span>
                    </div>
                </div>

                <div class="col-10">
                    <div class="form-group mt-4">
                        <input asp-for="Input.Password" type="password" class="form-control py-2 rounded-0" autocomplete="new-password" aria-required="true" placeholder="Enter your password">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-10">
                    <div class="form-group mt-4">
                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control py-2 rounded-0" placeholder="Confirm Password" autocomplete="new-password" aria-required="true">
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-10">
                    <button id="registerSubmit" type="submit" class="btn btn-primary mt-4 px-5 rounded-0 w-100">Register</button>
                </div>

                @* <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button> *@
                <div class=" text-center col-10 mt-2 ">
                    <p>
                        Already have an account ? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                    </p>
                </div>
            </form>

           
           
        </div>

      
    
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}